.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: rgb(243, 239, 239);
}

.container .title {
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.container .title ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: line;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.user-details .input-box .details {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 15px;
}

.role-box {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
}

.role-button {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.unit-box{
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
}

form .button {
    border-radius: 4px;
    background-color: #178f5d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

form .button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

form .button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -5px;
    transition: 0.5s;
}

form .button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

form .button:hover:after {
    opacity: 1;
    right: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}
.pro-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pro-box .item-title{
    font-size: 14px;
}